$colors-true :#44FFFF;
$colors-false :#FF6666;
$colors-default :#FFFAFA;

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes swiperRight {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes swiperLeft {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.words {
    text-align: center;
    min-width: 100vw;
    height: fit-content;
    &__option {
        text-align: center;
    }
}

.swiper {
    &__right {
        display: flex;
        justify-content: flex-start;
        width: 200vw;
        overflow: hidden;
        animation: swiperRight 0.5s ease-in 0s 1 normal forwards running;
    }
    &__left {
        display: flex;
        justify-content: flex-start;
        width: 200vw;
        overflow: hidden;
        animation: swiperLeft 0.5s ease-in 0s 1 normal forwards running;
    }
}

.char {
    &__default {
        color: $colors-default;
    }
    &__true {
        color: $colors-true;
    }
    &__false {
        background-color: $colors-false;
        color: #111111;
        &__txt {
            color: $colors-false;
        }
    }
}

.string{
    &__in {
        animation: inWord 0.25s ease-in 0s 1 normal forwards running;
    }
    &__out {
        animation: outWord 0.25s ease-in 0s 1 normal forwards running;
    }
}

.dialog{
    &__back {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        animation: fadeIn 1s ease-out 0s 1 normal forwards running;
        &__through {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: 0.5);
            opacity: 0;
        }
    }
    &__block{
        margin: 10px auto;
        &__nav {
            &__li{
                list-style-type: none;
                margin-top: 6px;
            }
        }
    }
}