.App {
  width: 100vw;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  opacity: 0.25;
  position: absolute;
  top: 15%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  text-align: center;
  color: azure;
  text-decoration: none;
}

.App-txt {
  text-align: center;
}

.App-highlight {
  margin-top: 250px;
}

.App-modenav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  left: 00;
  top: 0;
}

.App-modenav-li {
  flex-direction: row;
  width: fit-content;
  margin-right: 50px;
  list-style-type: none;
  text-decoration: none;
  color: azure;
}

.App-modenav-li:hover {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
